# -*- sh -*-
*~
/FOO
/.build
/sysroot
/sqsh_layer-es
/sqsh_layer-esfile
/upper_layer

# autotools files
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/test-driver

# built files
es.sqsh
es-file.sqsh
es-web.sqsh
es-wine.sqsh
vmm.sqsh
workstation.sqsh
